<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-11-09 11:41:22
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-12-31 15:26:44
-->
<div class="widthApp" [style.height]="pageHeight + 'px'" [ngStyle]="styles.stretchingBg">
  <app-image [imgData]="title"></app-image>
  <app-image-button [imgData]="backBtn" (itemClick)="gotoBack()"></app-image-button>
  <div class="orderListContainer" [style.height]="pageHeight - 220 + 'px'" [ngStyle]="styles.orderListContainer"></div>
  <div *ngIf="showOnprogress">
    <app-order-list [listHeight]="pageHeight - 350" [listData]="orderProgressList" [textureData]="textureData"></app-order-list>
    <div *ngIf="!orderProgressList.length">
      <div class="noOrder">No New Order Here</div>
      <app-image [imgData]="shocked"></app-image>
    </div>
    <app-image [imgData]="progressIcon"></app-image>
    <app-image-button [imgData]="compBtn" (itemClick)="changeList()"></app-image-button>
  </div>
  <div *ngIf="!showOnprogress">
    <app-order-list [listHeight]="pageHeight - 350" [listData]="orderCompleteList" [textureData]="textureData"></app-order-list>
    <div *ngIf="!orderCompleteList.length">
      <div class="noOrder">No New Order Here</div>
      <app-image [imgData]="shocked"></app-image>
    </div>
    <app-image-button [imgData]="progressBtn" (itemClick)="changeList()"></app-image-button>
    <app-image [imgData]="compIcon"></app-image>
  </div>
</div>