.confirmText{
    width: 450px;
    text-align: center;
    left: 90px;
    top: 320px;
    font-family: "framd";
    color: #1d5b07;
    font-size: 45px;
    line-height: 60px;
    font-weight: 600;
    padding: 0 6px 14px;
}