<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-28 13:39:24
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-05 16:50:39
-->
<div class="categoryPart">
  <app-image [imgData]="iconListBg"></app-image>
  <div class="categoryContainer widthApp">
    <div #carousel></div>
    <div [ngStyle]="styles.iconParent">
      <div *ngFor="let icon of showingIcons; let i = index" [ngStyle]="styles.icon" [style.transform]="i | categoryPipe : dragElement.scrollX">
        <img [src]="icon.class_img" class="categoryIcon">
      </div>
      <div [ngStyle]="styles.mask" [style.transform]="styles.maskTransform" [style.background-image]="'url(assets/product_list/bg.png)'">
        <app-image [imgData]="iconListBg"></app-image>
      </div>
  </div>
  </div>
  <app-image [imgData]="iconListMask"></app-image>
  <app-touchDragBar [rect]="touchBarRect" (itemClick)="changeCategory($event)" (dragState)="dargStatusChange($event)"></app-touchDragBar>
  <app-image [imgData]="bannerHr"></app-image>
</div>