<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-28 13:39:24
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-05 16:50:39
-->
<div class="categoryPart">
  <div [appImage]="ui.iconListBg"></div>
  <div class="categoryContainer widthApp">
    <div #carousel></div>
    <div [ngStyle]="sty.iconParent">
      <div *ngFor="let icon of showingIcons; let i = index" [ngStyle]="sty.icon" [style.transform]="i | categoryPipe : dragElement.scrollX">
        <img [src]="icon.class_img" class="categoryIcon">
      </div>
      <div [ngStyle]="sty.mask" [style.transform]="sty.maskTransform" [style.background-image]="'url(assets/product_list/bg.png)'">
        <div [appImage]="ui.iconListBg"></div>
      </div>
  </div>
  </div>
  <div [appImage]="ui.iconListMask"></div>
  <app-touchDragBar [rect]="touchBarRect" (itemClick)="changeCategory($event)" (dragState)="dargStatusChange($event)"></app-touchDragBar>
  <div [appImage]="ui.bannerHr"></div>
</div>