<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-07-16 11:54:28
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-08-20 14:43:59
-->
<div [style.marginLeft]="-this.marginLeft+'px'" [style.marginTop]="-this.marginTop+'px'">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <app-image [imgData]="popupBg"></app-image>
  <app-image [imgData]="tokens"></app-image>
  <app-image [imgData]="free"></app-image>
  <app-image [imgData]="exchange"></app-image>
  <app-image-button [imgData]="buyBtn" (itemClick)="buyVip()"></app-image-button>
  <app-image-button [imgData]="closeBtn" (itemClick)="closePo()"></app-image-button>
  <div class="priceTextDiv">
  <app-popup-text-field [textData]="priceText" [text]="'$' + vipPrice + '/mo'"></app-popup-text-field>
  <app-popup-text-field [textData]="coinsText" [text]="'' + vipCoins" *ngIf="hasCoinText"></app-popup-text-field>
  <app-popup-text-field [textData]="daysText" [text]="'' + vipDays"  *ngIf="hasDaysText"></app-popup-text-field>
    </div>
</div>