.mc{
    position: absolute;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}
.mcImg{
    width: initial;
    max-width: initial;
}