.startUpPage{
    width: 750px;
    margin:0px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.startPageEntity{
    top: 50%;
    margin-top: -562px;
    margin-left: 50px;
    width: 650px;
    height: 1124px;
}