.videoFrameContainer{
  left: 0px;
  top: 90px;
}
.videoFrame{
  border: 0px;
}
.playerHead{
  left: 645px;
  top: 220px;
  width: 83px;
  height: 153px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius:25px;
  background-color: black;
  opacity: 0.7;
}
.playingUser{
  overflow: hidden;
  width: 60px;
  height: 60px;
  left: 655px;
  top: 235px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius:10px;
}