<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-05-26 16:46:50
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-06 16:35:33
-->
<div [ngStyle]="styles.videoFrameContainer">
    <iframe src="assets/video/video.html" height="{{iframeHeight}}" id="videoFrame" class="widthApp" scrolling="no"></iframe>
</div>
<app-image-scale-button [imgData]="backToLobbyBtn" (itemClick)="backToLobby()"></app-image-scale-button>
<div [ngStyle]="styles.playerHead">
    <img [src]="userHeadIcon" [ngStyle]="styles.playingUser"/>
    <app-text-field [positionRect]="viewRect" [text]="usersCountText" [color]="textColor" [size]="textSize"></app-text-field>
</div>
<app-control-bar [textureData]="textureData" [productData]="data" (videoToggle)="onVideoToggle()" 
    [occupied]="playingUser!=null" [playing]="playing" (startPlayDP)="startMachine()"></app-control-bar>
