<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-11-04 10:13:45
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-10 13:57:33
-->
<div class="widthApp" [style.height]="pageHeight + 'px'" [ngStyle]="sty.stretchingBg">
  <div [ngStyle]="sty.scrollBar" [style.height]="pageHeight + 'px'">
    <app-image-button [imgData]="ui.backBtn" (itemClick)="gotoBack()"></app-image-button>
    <div [ngStyle]="sty.addressList">
      <app-address-edit-input [imgData]="ui.firstNameInput" [inputRect]="nameRect" [defautText]="'first name'" [text]="firstName" (textChange)="firstNameChange($event)"></app-address-edit-input>
      <app-address-edit-input [imgData]="ui.lasetNameInput" [inputRect]="nameRect" [defautText]="'last name'" [text]="lasetName" (textChange)="lasetNameChange($event)"></app-address-edit-input>
      <app-address-edit-input [imgData]="ui.phoneNumInput" [inputRect]="inputRect" [defautText]="'cellphone num'" [text]="phoneNum" (textChange)="phoneNumChange($event)"></app-address-edit-input>
      <app-address-edit-input [imgData]="ui.emailInput" [inputRect]="inputRect" [defautText]="'e-mail address'" [text]="email" (textChange)="emailChange($event)" [requred]="false"></app-address-edit-input>
      <app-address-edit-input [imgData]="ui.countryInput" [inputRect]="inputRect" [defautText]="'country'" [text]="country" (textChange)="countryChange($event)"></app-address-edit-input>
      <app-address-edit-input [imgData]="ui.stateInput" [inputRect]="inputRect" [defautText]="'state/province'" [text]="state" (textChange)="stateChange($event)"></app-address-edit-input>
      <app-address-edit-input [imgData]="ui.cityInput" [inputRect]="inputRect" [defautText]="'city'" [text]="city" (textChange)="cityChange($event)"></app-address-edit-input>
      <app-address-edit-text-area [imgData]="ui.addressStringInput" [inputRect]="addressStrRect" [defautText]="'house number & community'" [text]="addressString" (textChange)="addressStringChange($event)"></app-address-edit-text-area>
      <app-address-edit-input [imgData]="ui.zipCodeInput" [inputRect]="inputRect" [defautText]="'zip code'" [text]="zipCode" (textChange)="zipCodeChange($event)"></app-address-edit-input>
      <app-image-button [imgData]="ui.saveBtn" (itemClick)="saveAddress()"></app-image-button>
    </div>
  </div>
</div>