<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-06 09:52:07
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-09-06 17:00:42
-->
<div class="bankItem" [style.top]="index * 185 + 'px'" #itemInList>
  <app-image [imgData]="bankItemBg"></app-image>
  <app-image [imgData]="coinIcon"></app-image>
  <app-image [imgData]="recommendedIcon"></app-image>
  <app-image [imgData]="buyBtn"></app-image>
  <app-popup-text-field [textData]="coinText" [text]="coinNumberText"></app-popup-text-field>
  <app-popup-text-field [textData]="priceText" [text]="priceNumberText"></app-popup-text-field>
</div>