.bankContainer{
    width: 750px;
    margin:0px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.listBg{
    width: 750px;
    top: 270px;
    background-repeat: repeat-y;
    background-size:100% 100%;
}
.coinShop{
    top: 138px;
    left: 8px;
}
.ticketSHop{
    top: 138px;
    left: 8px;
}