<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-01 17:54:02
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-09-06 13:56:57
-->
<div class="bankContainer" [style.height]="pageHeight + 'px'" [style.background-image]="'url(assets/bank/bank_bg.jpg)'">
    <div class="listBg" [style.height]="pageHeight - 270 + 'px'" [style.background-image]="'url(assets/bank/coins.png)'"></div>
    <div class="coinShop" [hidden]="!showCoinShop">
        <app-image [imgData]="coinBg"></app-image>
        <app-image [imgData]="coinIcon"></app-image>
        <app-image-button [imgData]="ticketBtn" (itemClick)="switchShop(true)"></app-image-button>
        <app-image [imgData]="vipIcon"></app-image>
        <div class="productsBar" [style.height]="pageHeight - 660 + 'px'">
            <div class="scrollArea" [style.top]="scrollY + 'px'">
              <app-bank-item *ngFor="let item of bankItemDatas; let i = index" [itemData]="item" [textureData]="textureData" [index]="i" (itemClick)="onBankItemClick($event)"></app-bank-item>
            </div>
        </div>
    </div>
    <div class="ticketSHop" [hidden]="showCoinShop">
        <app-image [imgData]="ticketBg"></app-image>
        <app-image-button [imgData]="coinBtn" (itemClick)="switchShop(false)"></app-image-button>
        <app-image [imgData]="ticketIcon"></app-image>
    </div>
    <app-head-bar></app-head-bar>
    <app-bottom-bar></app-bottom-bar>
</div>