.productListContainer{
  top: 286px;
  width: 750px;
  margin:0px;
  background-repeat: no-repeat;
  background-size:100% 100%;
}
.productListBar{
  top: 215px;
  width: 750px;
  overflow: hidden;
}
.categoryIcon{
  top: 10px;
}