<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-06-04 10:57:58
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-09-09 16:12:50
-->
<div class="productListContainer" [style.height]="pageHeight - 365 + 'px'" [style.background-image]="'url(assets/product_list/bg.png)'">
  <app-product-scroll-list [listHeight]="pageHeight - 530" [listData]="machines | slice : 0 : pageSize" 
    [textureData]="textureData" [pageSize]="pageSize" (overMax)="loadMoreGoods()"></app-product-scroll-list>
  <div>
    <app-image [imgData]="iconListBg"></app-image>
    <div class="categoryContainer">
      <div class="iconScrollArea" [@carousel]="carouselState">
        <img [src]="icon.class_img" *ngFor="let icon of categoryList; let i = index" [style.left]="iconPosition(i) + 'px'" class="categoryIcon">
      </div>
    </div>
    <app-image-button [imgData]="iconListMask" (itemClick)="changeCategory($event)"></app-image-button>
  </div>
  <app-image [imgData]="bannerHr"></app-image>
</div>
