<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-06-04 10:57:58
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-09-03 10:18:53
-->
<div class="productListContainer" [style.height]="listHeight - 365 + 'px'" [style.background-image]="'url(assets/product_list/bg.png)'">
  <div class="productListBar" [style.height]="listHeight - 580 + 'px'" id="productListBarDiv">
    <div class="scrollArea" [style.top]="scrollY + 'px'">
      <app-product-item *ngFor="let item of machines | slice : 0 : pageSize; let i = index" [itemData]="item" [textureData]="textureData" [index]="i" (itemClick)="onItemClick($event)"></app-product-item>
    </div>
  </div>
  <div>
    <app-image [imgData]="iconListBg"></app-image>
    <div *ngFor="let icon of categoryList; let i = index" class="categoryIcon" [style.left]="i * 160 + 'px'"><img [src]="icon.class_img" width="150"></div>
    <app-image [imgData]="iconListMask"></app-image>
  </div>
</div>
