.control{
  top: 1200px;
}
.videoFrame{
  left: 0px;
  top: 90px;
}
#videoFrame{
  border: 0px;
}
.wyfi{
  left: 645px;
  top: 130px;
  width: 83px;
  height: 83px;
  -webkit-border-radius: 15px;
  border-radius:15px;
  background-color: black;
  opacity: 0.7;
}
.playerHead{
  left: 645px;
  top: 220px;
  width: 83px;
  height: 153px;
  -webkit-border-radius: 15px;
  border-radius:15px;
  background-color: black;
  opacity: 0.7;
}
.playingUser{
  overflow: hidden;
  width: 60px;
  height: 60px;
  left: 655px;
  top: 235px;
  -webkit-border-radius: 10px;
  border-radius:10px;
}
.tvGif{
  position: absolute;
  left: 295px;
}