<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-05-26 16:46:50
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-08-06 15:46:10
-->
<div class="videoFrame">
    <iframe src="" width="750" height="{{iframeHeight}}" id="videoFrame" scrolling="no" *ngIf="!videoLoading"></iframe>
    <img src="assets/control_bar/tv.gif" class="tvGif" [style.top]="tvPositionY + 'px'" *ngIf="videoLoading"/>
</div>
<app-head-bar></app-head-bar>
<app-image-button [imgData]="backToLobbyBtn" (itemClick)="backToLobby()"></app-image-button>
<div class="wyfi"></div>
<app-image  [imgData]="wyfiIcon"></app-image>
<div class="playerHead"></div>
<div class="playingUser">
    <img src="assets/default_head.jpg" width="60" height="60" *ngIf="userHeadIcon"/>
</div>
<div class="playingUser">
    <img src="{{userHeadIcon}}" width="60" height="60" *ngIf="userHeadIcon"/>
</div>
<app-text-field [positionRect]="viewRect" [text]="usersCountText" [color]="textColor" [size]="textSize"></app-text-field>
<app-control-bar [textureData]="textureData" [productImg]="data.img" (videoToggle)="onVideoToggle()" 
    [occupied]="playingUser!=null" [playing]="playing" (startPlayDP)="startMachine()"></app-control-bar>
