<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-05-26 16:46:50
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-07-02 11:29:33
-->
<div class="videoFrame">
    <iframe src="https://direct.hermetix.io/video.html?stream=1" width="1500" height="2400" id="videoFrame"></iframe>
</div>
<app-head-bar></app-head-bar>
<app-image-button [imgData]="backToLobbyBtn" (itemClick)="backToLobby()"></app-image-button>
<app-control-bar [textureData]="textureData" [productImg]="data.img" (videoToggle)="onVideoToggle()" 
    [occupied]="playingUser!=null" [playing]="playing" (startPlayDP)="startMachine()"></app-control-bar>
