<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-10 15:17:37
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-12-31 15:24:21
-->
<div class="widthApp" [style.height]="pageHeight + 'px'" [ngStyle]="sty.stretchingBg">
  <div [ngStyle]="sty.facebookHead">
    <img src="{{headIcon}}" width="140" height="140">
  </div>
  <div [appImage]="ui.headMask"></div>
  <div [appImage]="ui.vipIcon" *ngIf="isVip"></div>
  <div [appImage]="ui.coinBg"></div>
  <div [appImage]="ui.ticketBg"></div>
  <div [appImage]="ui.coinIcon"></div>
  <div [appImage]="ui.ticketIcon"></div>
  <div [appImageButton]="ui.plusBtn" (itemClick)="gotoBank()"></div>
  <app-text-field [positionRect]="coinsRect" [text]="''+coinNumber" [color]="textColor" [size]="textSize" [bold]="true"></app-text-field>
  <app-text-field [positionRect]="scoreRect" [text]="''+scoreNumber" [color]="textColor" [size]="textSize" [bold]="true"></app-text-field>
  <app-popup-text-field [textData]="userNameText" [text]="userNameString"></app-popup-text-field>
  <app-popup-text-field [textData]="userIdText" [text]="userIdString"></app-popup-text-field>
  <div [ngStyle]="sty.scrollBar" [appScrollBar]="pageHeight-300">
    <app-user-center-item *ngFor="let item of userCenterItems; let i = index" [itemData]="item" [textureData]="textureData" [index]="i" (itemClick)="onListItemClick($event)"></app-user-center-item>
  </div>
</div>