<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-14 11:43:09
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-07 11:39:24
-->
<div [style.top]="index * 201 + 10 + 'px'" (click)="onItemClick($event)">
  <app-image [imgData]="itemBg"></app-image>
  <img [src]="itemData.img" class="productImg" [ngStyle]="styles.productImg"/>
  <app-image [imgData]="winIcon" *ngIf="isWin"></app-image>
  <div class="title" [ngStyle]="styles.title">{{itemData.title}}</div>
  <div class="create" [ngStyle]="styles.create">{{createTime}}</div>
  <app-image-button [imgData]="playBtn" (itemClick)="play()"></app-image-button>
  <app-image-button [imgData]="shareBtn" (itemClick)="share()"></app-image-button>
</div>