<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-08-25 14:53:55
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-12-23 16:06:56
-->
<div [style.marginLeft]="-marginLeft+'px'" [style.marginTop]="-marginTop+'px'" [ngStyle]="{'transform':matrix}" [style.width]="'722px'" [style.height]="'1332px'">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <app-image [imgData]="popupBg"></app-image>
  <app-popup-text-field [textData]="dayRowText" [text]="dayNumberStr"></app-popup-text-field>
  <app-image-button [imgData]="closeBtn" (itemClick)="closePo()" ></app-image-button>
  <app-daily-item *ngFor="let item of dailyList; let i = index" [itemData]="item" [textureData]="textureData" [index]="i"  (dailyEvent)="dailyItemEventListener($event)"></app-daily-item>
</div>