<div class="head">
  <app-image [imgData]="topBarBg"></app-image>
  <div class="facebookHead">
    <img src="https://graph.facebook.com/115260495912054/picture/?width=80&height=80">
  </div>
  <app-image [imgData]="headMask"></app-image>
  <app-image [imgData]="vipIcon"></app-image>
  <app-image [imgData]="coinsBg1"></app-image>
  <app-image [imgData]="coinsBg2"></app-image>
  <app-image [imgData]="letter"></app-image>
  <app-image [imgData]="coin"></app-image>
  <app-image [imgData]="ticket"></app-image>
  <app-image [imgData]="plus"></app-image>
  <app-text-field [positionRect]="coinsRect" [text]="''+coinNumber" [color]="textColor" [size]="textSize" [bold]="true"></app-text-field>
  <app-text-field [positionRect]="ticketsRect" [text]="''+ticketNumber" [color]="textColor" [size]="textSize" [bold]="true"></app-text-field>
</div>
