<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-06-04 11:40:44
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-07 11:28:06
-->
<div [ngStyle]="styles.position" [attr.itemdata]="index" (click)="onItemClick($event)">
  <app-image [imgData]="productBg"></app-image>
  <div [ngStyle]="styles.productPicPosition">
    <img src={{itemData.img}} width="320px" height="308px" [ngStyle]="styles.productImageStyle" (load)="onImgload()">
  </div>
  <app-image [imgData]="vipFlag" *ngIf="isVip"></app-image>
  <app-image [imgData]="coinIcon" *ngIf="!isFree"></app-image>
  <app-image [imgData]="infoIcon"></app-image>
  <app-image [imgData]="freeIcon" *ngIf="isFree"></app-image>
  <app-text-field [positionRect]="priceRect" [text]="''+itemData.price" [color]="textColor" [size]="textSize" [bold]="true" [align]="textAlign" *ngIf="!isFree"></app-text-field>
  <app-text-field [positionRect]="nameRect" [text]="itemData.name" [color]="textColor" [size]="textSize" [bold]="true" [align]="textAlign"></app-text-field>
</div>
