.head{
  top: 0px;
  left: 0px;
}
.facebookHead{
  width: 80px;
  height: 80px;
  top: 6px;
  left: 20px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius:40px;
  overflow: hidden;
}
.headImg{
  position: absolute;
}
.redPot{
  left: 710px;
  top: 10px;
  width: 32px;
  height: 32px;
  background-color: red;
  color: black;
  font-size: 25px;
  line-height: 32px;
  vertical-align: middle;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  border-radius:32px;
  text-align: center;
  font-family: "arialbd";
}