<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-06-02 14:04:12
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-09-28 15:56:02
-->
<div class="banner" (click)="bennerClick()" [@carousel]="carouselState">
  <img [src]="item.art" class="bannerPic" *ngFor="let item of featureDataForShow; let i = index" [style.left]="( i - (showTouchBar?1:0) ) * 750+'px'" >
</div>
<app-active-index-point [rect]="activeIndexPosition" [items]="featureData" [activeIndex]="activeIndex"></app-active-index-point>
<div class="touchBar" *ngIf="showTouchBar">
  
</div>