<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-09 16:53:48
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-05 17:16:00
-->
<div [ngStyle]="styles.popupOffset">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <img [src]="productImg" (load)="productImgLoaded()" [ngStyle]="styles.productImg"/>
  <app-simple-movie-clip [movieClip]="guang"></app-simple-movie-clip>
  <app-image [imgData]="popupBg"></app-image>
  <app-image-button [imgData]="goBtn" (itemClick)="goPlay()" ></app-image-button>
  <app-image-button [imgData]="closeBtn" (itemClick)="closePo()" ></app-image-button>
  <app-image [imgData]="vip" *ngIf="isVip"></app-image>
  <app-popup-text-field [textData]="nameText" [text]="nameString"></app-popup-text-field>
  <div class="tipTextStyle" [ngStyle]="styles.tipTextStyle">
    <span class="tipSpan">{{tipString}}</span>
  </div>
</div>