<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-07-15 11:33:18
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-12-31 16:20:41
-->
<div [ngStyle]="sty.popupOffset">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <app-image [imgData]="ui.popupBg"></app-image>
  <app-image [imgData]="ui.titleBg"></app-image>
  <app-image-button [imgData]="ui.confirmBtn" (itemClick)="confirmPo()" ></app-image-button>
  <app-image-button [imgData]="ui.closeBtn" (itemClick)="closePo()" ></app-image-button>
</div>