<!--
 * @Description:
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-06-10 16:30:24
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-11-11 15:30:55
-->
<div class="control_bar">
  <app-image [imgData]="ui.controlBg"></app-image>
  <app-prod-info-button [imgData]="ui.objectImgFrame" [productImg]="productData.img" (itemClick)="showProductInfo();"></app-prod-info-button>
  <app-image-scale-button [imgData]="ui.cameraBg" [buttonIcon]="ui.cameraIcon" (itemClick)="toggle()" ></app-image-scale-button>
  <div *ngIf="!playing">
    <app-image-scale-button [imgData]="ui.addCoin" (itemClick)="showOocPo()"></app-image-scale-button>
    <app-image-scale-button [imgData]="ui.historyBg" [buttonIcon]="ui.historyBtn" (itemClick)="showHistory()"></app-image-scale-button>
    <app-play-button [imgData]="ui.playBtnBg" [buttonIcon]="ui.playBtnIcon" [coinIcon]="ui.coinIcon" [soundUrl]="'assets/sound/start.mp3'" [price]="isFree?0:productData.price" (itemClick)="startPlay();"></app-play-button>
    <app-image-scale-button [imgData]="ui.occupiedBg" [buttonIcon]="ui.occupiedIcon" [enabled]="false" *ngIf="occupied"></app-image-scale-button>
  </div>
  <div *ngIf="playing">
    <app-image [imgData]="ui.clockShadow"></app-image>
    <app-text-field [positionRect]="timeRect" [text]="''+timeLeft" [color]="timeTextColor" [size]="48" [bold]="true"></app-text-field>
    <app-image [imgData]="ui.clockImg"></app-image>
    <app-image-scale-button [imgData]="ui.leftBtnBg" [buttonIcon]="ui.leftBtn" (touchDown)="controlStartMachine(control_left)" (touchUp)="controlEndMachine(control_left)"></app-image-scale-button>
    <app-image-scale-button [imgData]="ui.upBtnBg" [buttonIcon]="ui.upBtn" (touchDown)="controlStartMachine(control_up)" (touchUp)="controlEndMachine(control_up)"></app-image-scale-button>
    <app-image-scale-button [imgData]="ui.rightBtnBg" [buttonIcon]="ui.rightBtn" (touchDown)="controlStartMachine(control_right)" (touchUp)="controlEndMachine(control_right)"></app-image-scale-button>
    <app-image-scale-button [imgData]="ui.downBtnBg" [buttonIcon]="ui.downBtn" (touchDown)="controlStartMachine(control_down)" (touchUp)="controlEndMachine(control_down)"></app-image-scale-button>
    <app-image-scale-button [imgData]="ui.catchBtnBg" [buttonIcon]="ui.catchBtn" [soundUrl]="'assets/sound/grab.mp3'" (itemClick)="catchDoll()"></app-image-scale-button>
  </div>
</div>
