<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-11-10 10:39:07
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-07 11:39:29
-->
<div [style.top]="index * 208 + 'px'" (click)="onItemClick($event)">
  <div [appImage]="ui.itemBg"></div>
  <div [ngStyle]="sty.productImgage">
    <img [attr.src]="itemData.img" width="170" height="170"/>
  </div>
  <div [appImage]="ui.imageFrame"></div>
  <div [appImageButton]="ui.infoIcon" (itemClick)="showInfo()"></div>
  <div class="title" [ngStyle]="sty.title">{{itemData.name}}</div>
  <div class="blackText" [ngStyle]="sty.create">{{createTime}}</div>
  <div class="blackText" [ngStyle]="sty.expire" *ngIf="!isExpire">{{expireTime}}</div>
  <div class="hasExpired" [ngStyle]="sty.hasExpired" *ngIf="isExpire">expired</div>
  <div [appImageButton]="ui.sellBtn" (itemClick)="sellTicket()"></div>
  <div [appImageButton]="ui.packBtn" (itemClick)="packageItems()"></div>
</div>