<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-25 11:43:00
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-13 10:08:22
-->
<div class="imgBtn" [style]="imgStyle" (click)="onButtonClick($event)" appScaleButton [smooth]="false">
  <div [ngStyle]="innerContainer" #carousel>
    <div class="noneSelect" [style]="iconStyle"></div>
    <app-popup-text-field [textData]="playText" [text]="playString" [shadowObj]="lightTextShadow"></app-popup-text-field>
    <div *ngIf="price">
      <div [ngStyle]="shadowBg"></div>
      <app-popup-text-field [textData]="priceText" [text]="price+''"></app-popup-text-field>
      <app-image [imgData]="coinIcon"></app-image>
    </div>
  </div>
</div>