<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-25 11:43:00
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-07 17:03:31
-->
<div class="imgBtn" [attr.style]="imgStyle" (click)="onButtonClick($event)" (mousedown)="onDown($event)" (touchstart)="onDown($event)"
 (mouseup)="onUp($event)" (mouseout)="onUp($event)" (touchend)="onUp($event)" (touchcancel)="onUp($event)">
  <div [ngStyle]="innerContainer" #carousel>
    <div class="noneSelect" [attr.style]="iconStyle"></div>
    <app-popup-text-field [textData]="playText" [text]="playString" [shadowObj]="lightTextShadow"></app-popup-text-field>
    <div *ngIf="price">
      <div [ngStyle]="shadowBg"></div>
      <app-popup-text-field [textData]="priceText" [text]="price+''"></app-popup-text-field>
      <app-image [imgData]="coinIcon"></app-image>
    </div>
  </div>
</div>