<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-25 11:43:00
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-13 10:08:22
-->
<div [appImageButton]="imgData" [soundUrl]="soundUrl" (itemClick)="onButtonClick()" appScaleButton [smooth]="false">
  <div [ngStyle]="innerContainer" #scaleButtonInner>
    <div [scaleButtonInner]="buttonIcon"></div>
    <app-popup-text-field [textData]="playText" [text]="playString" [shadowObj]="lightTextShadow"></app-popup-text-field>
    <div *ngIf="price">
      <div [ngStyle]="shadowBg"></div>
      <app-popup-text-field [textData]="priceText" [text]="price+''"></app-popup-text-field>
      <div [appImage]="coinIcon"></div>
    </div>
  </div>
</div>