.loadingContainer{
  overflow: hidden;
}
.loadingShadow{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
.loadingPicture{
  left: 50%;
  top: 50%;
  width: 225px;
  height: 250px;
  margin-left: -112px;
  margin-top: -125px;
}
