<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-29 14:49:20
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-11-08 17:10:46
-->
<div class="stretchingBg widthApp" [style.height]="pageHeight + 'px'" [style.background-image]="'url(assets/bank/bank_bg.jpg)'">
  <app-image-button [imgData]="backBtn" (itemClick)="gotoBack()"></app-image-button>
  <div class="ledgerListContainer" [style.height]="pageHeight - 265 + 'px'"></div>
  <div *ngIf="showCoinList">
    <app-image [imgData]="coinIcon"></app-image>
    <app-image-button [imgData]="ticketBtn" (itemClick)="switchList(2)"></app-image-button>
    <app-ledger-list [listHeight]="pageHeight - 395" [listData]="coinsChangeList" [textureData]="textureData"></app-ledger-list>
  </div>
  <div *ngIf="!showCoinList">
    <app-image-button [imgData]="coinBtn" (itemClick)="switchList(1)"></app-image-button>
    <app-image [imgData]="ticketIcon"></app-image>
    <app-ledger-list [listHeight]="pageHeight - 395" [listData]="ticketChangeList" [textureData]="textureData"></app-ledger-list>
  </div>
</div>