<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-11-11 10:38:52
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-05 14:13:22
-->
<div [ngStyle]="styles.popupOffset">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <app-image [imgData]="popupBg"></app-image>
  <app-image-button [imgData]="closeBtn" (itemClick)="closePo()"></app-image-button>
  <app-image-button [imgData]="okBtn" (itemClick)="exchangeToTicket()"></app-image-button>
  <app-popup-text-field [textData]="tipText" [text]="tipString"></app-popup-text-field>
  <div class="popupText" [ngStyle]="styles.popupText">Do you want to exchange your</div>
  <app-image [imgData]="ticketIcon"></app-image>
</div>