<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-11-11 10:38:52
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-05 14:13:22
-->
<div [ngStyle]="sty.popupOffset">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <div [appImage]="ui.popupBg"></div>
  <div [appImageButton]="ui.closeBtn" (itemClick)="closePo()"></div>
  <div [appImageButton]="ui.okBtn" (itemClick)="exchangeToTicket()"></div>
  <app-popup-text-field [textData]="tipText" [text]="tipString"></app-popup-text-field>
  <div class="popupText" [ngStyle]="sty.popupText">Do you want to exchange your</div>
  <div [appImage]="ui.ticketIcon"></div>
</div>