.imgCom{
    position: absolute;
}
.inputText{
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    word-break: break-word;
    overflow: hidden;
    resize: none;
}