.scrollBar{
    top: 80px;
    width: 730px;
    overflow: hidden;
}
.tipText{
    left: 45px;
    top: 374px;
    width: 730px;
    text-align: left;
    font-size: 35px;
    line-height: 19px;
    color: #5478d8;
}