<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-23 15:22:50
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-10 14:16:01
-->
<div [ngStyle]="sty.scrollBar" [appScrollBar]="listHeight">
  <div [appImage]="ui.lightImg"></div>
  <app-image-button [imgData]="ui.vip1" (itemClick)="onListItemClick(0)"></app-image-button>
  <app-image-button [imgData]="ui.vip2" (itemClick)="onListItemClick(1)"></app-image-button>
  <app-image-button [imgData]="ui.vip3" (itemClick)="onListItemClick(2)"></app-image-button>
  <div [appImage]="ui.textBg"></div>
  <div *ngIf="isVip">
    <div [appImage]="ui.crown"></div>
  </div>
  <div [appImage]="ui.hand"></div>
  <app-popup-text-field [textData]="titleText" [text]="titleString" [shadowObj]="sty.lightTextShadow"></app-popup-text-field>
  <div class="tipText"></div>
  <div [hidden]="showEndTime">
    <app-image-button [imgData]="ui.buyBtn" (itemClick)="onListItemClick('buyVip')"></app-image-button>
    <app-popup-text-field [textData]="priceText" [text]="priceString"></app-popup-text-field>
  </div>
  <div [hidden]="!showEndTime">
    <app-popup-text-field [textData]="vipLeftText" [text]="vipTimeStr"></app-popup-text-field>
  </div>
</div>