<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-23 15:22:50
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-07 16:58:56
-->
<div class="scrollBar" [style.height]="listHeight + 'px'" #scrollBar>
  <app-image [imgData]="lightImg"></app-image>
  <app-image-button [imgData]="vip1" (itemClick)="onListItemClick(0)"></app-image-button>
  <app-image-button [imgData]="vip2" (itemClick)="onListItemClick(1)"></app-image-button>
  <app-image-button [imgData]="vip3" (itemClick)="onListItemClick(2)"></app-image-button>
  <app-image [imgData]="textBg"></app-image>
  <div *ngIf="isVip">
    <app-image [imgData]="crown"></app-image>
  </div>
  <app-image [imgData]="hand"></app-image>
  <app-popup-text-field [textData]="titleText" [text]="titleString" [shadowObj]="styles.lightTextShadow"></app-popup-text-field>
  <div class="tipText"></div>
  <div [hidden]="showEndTime">
    <app-image-button [imgData]="buyBtn" (itemClick)="onListItemClick('buyVip')"></app-image-button>
    <app-popup-text-field [textData]="priceText" [text]="priceString"></app-popup-text-field>
  </div>
  <div [hidden]="!showEndTime">
    <app-popup-text-field [textData]="vipLeftText" [text]="vipTimeStr"></app-popup-text-field>
  </div>
</div>