<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-22 15:18:17
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-09-22 15:23:41
-->
<div [style.marginLeft]="-this.marginLeft+'px'" [style.marginTop]="-this.marginTop+'px'">
  <img [src]="textureDetactive" (load)="bgTextureLoaded()" [hidden]="true"/>
  <app-image [imgData]="popupBg"></app-image>
  <app-image-button [imgData]="cancelBtn" (itemClick)="closePo()"></app-image-button>
  <app-image-button [imgData]="okBtn" (itemClick)="logout()"></app-image-button>
</div>