.timeDiv{
    left: 15px;
    top: 20px;
    font-size: 25px;
    line-height: 40px;
    font-family: "arialbd";
}
.noteDiv{
    left: 180px;
    top: 45px;
    font-size: 25px;
    width: 150px;
    color: gray;
    font-family: "arialbd";
}
.changeDiv{
    left: 580px;
    top: 37px;
    font-size: 40px;
    width: 50px;
    text-align: right;
    font-family: "FRAHV_0";
    color: white;
}
.colorClass{
    right: 0px;
}