<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-09 10:41:10
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-06 15:00:58
-->
<div [ngStyle]="styles.ticketItem" (click)="onItemClick(event)">
  <img src={{itemData.img}} (load)="onImgload()" [ngStyle]="styles.ticketItemImage"/>
  <app-image [imgData]="ticketItemBg"></app-image>
  <app-image-button [imgData]="infoIcon"></app-image-button>
  <app-image-button [imgData]="buyBtn"></app-image-button>
  <app-image [imgData]="ticketIcon"></app-image>
  <app-popup-text-field [textData]="priceText" [text]="'' + itemData.price"></app-popup-text-field>
  <app-list-text-field [text]="itemData.name" [positionRect]="tipRect" [size]="25" [bold]="true"></app-list-text-field>
</div>