<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-16 13:14:54
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-07 16:50:09
-->
<div class="widthApp" [style.height]="pageHeight + 'px'" [ngStyle]="styles.stretchingBg">
  <app-image [imgData]="title"></app-image>
  <app-image-button [imgData]="backBtn" (itemClick)="gotoBack()"></app-image-button>
  <app-image-button [imgData]="logoutBtn" (itemClick)="logout()"></app-image-button>
  <app-image [imgData]="soundEffectSettingBg"></app-image>
  <app-image [imgData]="musicSettingBg"></app-image>
  <app-image-button [imgData]="soundEffectOnBtn" (itemClick)="setSoundEffect( true )" *ngIf="soundEffectOn"></app-image-button>
  <app-image-button [imgData]="soundOnBtn" (itemClick)="setMusic( true )" *ngIf="soundOn"></app-image-button>
  <app-image-button [imgData]="soundEffectOffBtn" (itemClick)="setSoundEffect( false )" *ngIf="!soundEffectOn"></app-image-button>
  <app-image-button [imgData]="soundOffBtn" (itemClick)="setMusic( false )" *ngIf="!soundOn"></app-image-button>
  <app-popup-text-field [textData]="soundEffectText" [text]="soundEffectString" [shadowObj]="styles.lightTextShadow"></app-popup-text-field>
  <app-popup-text-field [textData]="musicText" [text]="musicString" [shadowObj]="styles.lightTextShadow"></app-popup-text-field>
</div>