<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-09-16 13:14:54
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-10 15:42:25
-->
<div class="widthApp" [style.height]="pageHeight + 'px'" [ngStyle]="sty.stretchingBg">
  <div [appImage]="ui.title"></div>
  <app-image-button [imgData]="ui.backBtn" (itemClick)="gotoBack()"></app-image-button>
  <div [ngStyle]="sty.bottom"><app-image-button [imgData]="ui.logoutBtn" (itemClick)="logout()"></app-image-button></div>
  <div [appImage]="ui.soundEffectSettingBg"></div>
  <div [appImage]="ui.musicSettingBg"></div>
  <app-image-button [imgData]="ui.soundEffectOnBtn" (itemClick)="setSoundEffect( true )" *ngIf="soundEffectOn"></app-image-button>
  <app-image-button [imgData]="ui.soundOnBtn" (itemClick)="setMusic( true )" *ngIf="soundOn"></app-image-button>
  <app-image-button [imgData]="ui.soundEffectOffBtn" (itemClick)="setSoundEffect( false )" *ngIf="!soundEffectOn"></app-image-button>
  <app-image-button [imgData]="ui.soundOffBtn" (itemClick)="setMusic( false )" *ngIf="!soundOn"></app-image-button>
  <app-popup-text-field [textData]="soundEffectText" [text]="soundEffectString" [shadowObj]="sty.lightTextShadow"></app-popup-text-field>
  <app-popup-text-field [textData]="musicText" [text]="musicString" [shadowObj]="sty.lightTextShadow"></app-popup-text-field>
</div>