.productListContainer{
  position: absolute;
  top: 346px;
  width: 750px;
  margin:0px;
  background-image: url(./../../assets/bg.png);
  background-repeat: no-repeat;
  background-size:100% 100%;
}
