<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-08-06 11:27:57
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-10 15:54:18
-->
<div [ngStyle]="sty.bottomBar">
  <div [appImage]="ui.bottomBg"></div>
  <div [appImageButton]="ui.home" (itemClick)="gotoLobby()" *ngIf="iconBigIndex!=0"></div>
  <div [appImageButton]="ui.shop" (itemClick)="gotoBank()" *ngIf="iconBigIndex!=1"></div>
  <div [appImageButton]="ui.price" (itemClick)="gotoPrize()" *ngIf="iconBigIndex!=2"></div>
  <div [appImageButton]="ui.my" (itemClick)="gotoUserCenter()" *ngIf="iconBigIndex!=3"></div>
  <div [appImage]="ui.homeIcon" *ngIf="iconBigIndex==0"></div>
  <div [appImage]="ui.shopIcon" *ngIf="iconBigIndex==1"></div>
  <div [appImage]="ui.priceIcon" *ngIf="iconBigIndex==2"></div>
  <div [appImage]="ui.myIcon" *ngIf="iconBigIndex==3"></div>
</div>