.prizeListContainer{
    background-color: #fdd53f;
    width: 730px;
    border: 3px solid #ad8321;
}
.noOrder{
    width: 550px;
    text-align: center;
    font-size: 45px;
    font-family: framd;
}
.firstLine{
    left: 20px;
    top: 15px;
    width: 666px;
    font-size: 30px;
    color: black;
    word-wrap:break-word;
}
.spanBold{
    font-weight: bold;
}
.spanGray{
    color: gray;
    padding-left: 30px;
}
.allElse{
    font-size: 30px;
    color: black;
    word-wrap:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.addressDiv{
    left: 30px;
    top: 245px;
    width: 730px;
}