<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-11-09 16:34:24
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2022-01-10 12:18:38
-->
<div class="widthApp" [style.height]="pageHeight + 'px'" [ngStyle]="styles.stretchingBg">
  <div class="prizeListContainer" [style.height]="pageHeight - 220 + 'px'" [ngStyle]="styles.prizeListContainer"></div>
  <div *ngIf="showPrize">
    <div [ngStyle]="styles.scrollBar" [style.height]="pageHeight - 350 + 'px'">
      <app-prize-item *ngFor="let item of prizeList; let i = index" [itemData]="item" [textureData]="textureData" [index]="i" (itemDelete)="onItemDelete($event)"></app-prize-item>
    </div>
    <div *ngIf="!prizeList.length">
      <div class="noOrder" [ngStyle]="styles.noOrder">No Prize Won Yet</div>
      <app-image [imgData]="shocked"></app-image>
    </div>
    <app-image [imgData]="allPrizeIcon"></app-image>
    <app-image-button [imgData]="packageBtn" (itemClick)="switchPannel( false )"></app-image-button>
  </div>
  <div *ngIf="!showPrize">
    <app-image-button [imgData]="allPrizeBtn" (itemClick)="switchPannel( true )"></app-image-button>
    <app-image [imgData]="packageIcon"></app-image>
    <app-image-button [imgData]="addressBtn" (itemClick)="editAddress()"></app-image-button>
    <div [ngStyle]="styles.addressDiv">
      <div class="firstLine"><span class="spanBold">{{itemData.first_name}}&nbsp;&nbsp;{{itemData.last_name}}</span><span class="spanGray">{{itemData.tel}}</span></div>
      <div class="allElse" [ngStyle]="styles.allElse">{{mainString}}</div>
      <app-image [imgData]="arrowIcon"></app-image>
    </div>
    <app-image-button [imgData]="addBtn" (itemClick)="addOrder()"></app-image-button>
  </div>
</div>