<div class="productItem" [style]="position">
  <app-image [imgData]="productBg"></app-image>
    <div class="productPic">
      <img src={{itemData.img}} (click)="onItemClick(itemData)" width="320px" height="308px" class="productImage">、
    </div>
  <app-image [imgData]="vipFlag"></app-image>
  <app-image [imgData]="coinIcon"></app-image>
  <app-image [imgData]="infoIcon"></app-image>
  <app-text-field [positionRect]="priceRect" [text]="''+itemPrice" [color]="textColor" [size]="textSize" [bold]="true" [align]="textAlign"></app-text-field>
  <app-text-field [positionRect]="nameRect" [text]="''+itemName" [color]="textColor" [size]="textSize" [bold]="true" [align]="textAlign"></app-text-field>
</div>
