<!--
 * @Description: 
 * @version: 1.0
 * @Author: Wayne Yu
 * @Date: 2021-10-14 13:31:19
 * @LastEditors: Wayne Yu
 * @LastEditTime: 2021-12-29 15:51:12
-->
<div class="stretchingBg widthApp overFlowHidden" [style.height]="pageHeight + 'px'" [style.background-image]="'url(assets/start_up/bg.png)'">
    <div #startPageEntity class="startPageEntity">
        <div *ngFor="let item of tipPagesForShow; let i = index" [style.left]="750 * (i-1) + 'px'">
            <app-image [imgData]="item"></app-image>
            <app-image-button [imgData]="getBtnUI(i)"></app-image-button>
        </div>
    </div>
    <app-active-index-point [rect]="activeIndexPosition" [items]="tipPages" [activeIndex]="carouselCount"></app-active-index-point>
    <app-touchDragBar [rect]="pageRect" (itemClick)="onClick($event)" (dragState)="dargStatusChange($event)"></app-touchDragBar>
</div>