.contactUsPage{
    width: 750px;
    margin:0px;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
.leftText{
    left: 40px;
    top: 250px;
}
.inputArea{
    left: 300px;
    top: 250px;
    width: 250px;
    font-size: 45px;
}
.input{
    height: 50px;
    width: 250px;
    font-size: 45px;
    border:none;
    background-color: transparent;
}
.input:focus{
    border:none;
}
.checkbox{
    height: 50px;
    width: 50px;
}
p{
    text-align: left;
}
.choise{
    left: 100px;
    top: 450px;
    width: 550px;
    text-align: left;
    font-size: 45px;
    font-weight: bolder;
    color: white;
}
.textArea{
    height: 250px;
    width: 550px;
    font-size: 45px;
}